#logo{
    /*margin-top: ;
    margin-bottom: ;
    margin-left: ;
    margin-right: ;*/
    margin:20px 0px 0px 50px;
    /*padding: 10px 10px 10px 10px;*/
}

body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}